body {
  background: #141414;
  color: #ffffff;
}
.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}
.movie-wrap {
  width: 22%;
}
.image-container {
  position: relative;
  transition: transform 0.2s;
}
.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.image-container:hover .overlay {
  opacity: 1;
}
.overlay {
  position: absolute;
  background: rgba(0,0,0,0.8);
  width: 100%;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}